:root{
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    background-color: var(--Lightpink);

}
.main{


    height: 100vh;
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;

}

.crew{
    background-color: blue;
    height:500px;
    display: flex;
    position: absolute;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.faq{
    background-color: var(--White);
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    z-index: 5;
    height: 500px;
    margin-top: 400px;
    width: 50%;
    border-radius: 30px;
    padding: 20px;

}
.heading{
    display: flex;
    position: inherit;
}
.question{
    display: flex;
    position: inherit;
    margin-bottom: 20px;
}
.question:hover{
    cursor: pointer;
    color: var(--Grayishpurple);
}

.answer{
    display: none;
    margin-bottom: 20px;
}

.mystyle{
    display: block;
}
.minus{
    display: none;
}
.minus:hover{
    border-radius: 50px;
    cursor: pointer;
}
.showminus{
    display: block;
}
h3{
    margin-right: auto;
}


