:root{
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
}
@font-face {
    font-family: "Work Sans";
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    background-color: var(--Lightpink);
    /* height: 100vw; */
    font-family: "Work Sans";
    color: var(--Darkpurple);

}
.main{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.crew{
    height:200px;
    display: flex;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    position: absolute;
    background-size: cover;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.faq{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    min-height: 550px;
    border-radius: 30px;
    padding: 30px;

}
.heading{
    display: flex;
    position: inherit;
    margin-bottom: 40px;
}
.heading > img{
    margin-right: 10px;
}
.question{
    display: flex;
    position: inherit;
    margin-bottom: 20px;
    justify-content: space-between;
   
}
.question:hover{
    cursor: pointer;
    color: var(--Grayishpurple);
}

.answer{
    display: none;
    margin-bottom: 20px;
    color: var(--Grayishpurple);
}

.mystyle{
    display: block;
}

.minus{
    display: none;
}
.minus:hover{
    border-radius: 50px;
    /* cursor: pointer; */
}
.showminus{
    display: block;
}
h3{
    margin-right: 6px;
}

.attribution{
    display: flex;
    position: fixed;
    bottom: 0px;
    z-index: 6;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* margin-top: 40px; */
}
@media (max-width:600px){
    
    .crew{
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: none;
        background-size: contain;
        height: 50%;
    }
    .faq{
        margin-top: 50%;
        width: 900%;
        display: flex;
        
    }
}